<p class="mb-1 mt-3">Investment Assets</p>
<div class="asset-table-container col-12">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <form [formGroup]="assetForm">
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Asset Details</th>
        <td mat-cell *matCellDef="let element">
          {{ element.AssetDetails }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <input
            type="text"
            class="form-control"
            id="txtDetails"
            formControlName="details"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="marketValue">
        <th mat-header-cell *matHeaderCellDef>Present Market Value</th>
        <td mat-cell *matCellDef="let element">
          {{ element.PresentMarketValue }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <input
            type="text"
            class="form-control"
            id="txtMarketValue"
            formControlName="marketValue"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.LocationDescription }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <input
            type="text"
            class="form-control"
            id="txtLocation"
            formControlName="location"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="liabilities">
        <th mat-header-cell *matHeaderCellDef>Liabilities</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.Liabilities }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <input
            type="text"
            class="form-control"
            id="txtLiabilities"
            formControlName="liabilities"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="encumbered">
        <th mat-header-cell *matHeaderCellDef>Encumbered</th>
        <td mat-cell *matCellDef="let element">
          {{ element.EncumberedUnencumbered }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <div class="encumbered-input">
            <input type="checkbox" formControlName="encumbered" />
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button type="button" class="btn btn-danger" (click)="onDelete(element)">
            Delete
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="assetForm.invalid"
            (click)="onSubmit()"
          >
            Add
          </button>
        </td>
      </ng-container>
    </form>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>

<button
  type="button"
  class="btn btn-success mt-3 mr-2"
  *ngIf="btnVisible"
  (click)="onBack()"
>
  Back
</button>
<button
  type="button"
  class="btn btn-success mt-3"
  *ngIf="btnVisible"
  [disabled]="dataSource.data.length < 1"
  (click)="onNext()"
>
  Next
</button>
