<div class="container my-3">
  <fieldset style="border: 1px solid gray; padding: 10px; border-radius: 5px">
    <legend style="font-size: 16px; width: auto;">Instructions</legend>
    <div>
      <!-- <p style="font-size: 16px; color: green;">INSTRUCTIONS:</p> -->

      <p style="font-size: 16px; color: green; text-align: justify; line-height: 150%;">
        You are requested to please change your password first through the appeared screen of home page by inserting
        Current
        password then new password and then confirm new password again. Please note that : </p> <br />
      <ul style="font-size: 16px; color: blue; text-align: justify; line-height: 90%;" class="ml-4">
        <li>The new password must be the combination of alpha (UPPER and lower case), Non alpha numeric character and
          numeric.</li>
        <br />
        <li>Minimum length of the password must be 8(eight) digits.</li>
        <br />
        <li>Example: Sbl@1354</li>
      </ul>
      <br />

      <p style="font-size: 16px; color: green; text-align: justify; margin-top: -18px;">After changing of password, you
        need
        to login again and then you will see the operational menu.</p>
      <br />
    </div>
  </fieldset>
  <fieldset style="margin-top:5px; border: 1px solid gray; padding: 10px; border-radius: 5px">
    <legend style="font-size: 16px; width: auto;">Request Details</legend>
    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePasswordRequest()">
      <div class="form-row">
        <input type="hidden" class="form-control" id="txtUserName" formControlName="txtUserName" />
        <!-- <div class="col-md-4 mb-2">
                    <label for="txtUserName">User Name</label>
                    <input type="text" class="form-control" id="txtUserName" formControlName="txtUserName">
                </div> -->
        <div class="col-md-3 mb-2">
          <label for="txtOldPassword">Current Password</label>
          <div class="password-field">
            <input [type]="oldPasswordVisible ? 'text' : 'password'" class="form-control" id="txtOldPassword"
              formControlName="txtOldPassword" [ngClass]="{
                'is-invalid':
                  (f.txtOldPassword.errors && f.txtOldPassword.touched) ||
                  (f.txtOldPassword.errors && submitted)
              }" />
            <span class="visibility-icon" (click)="showOldPassword()">
              <mat-icon *ngIf="oldPasswordVisible">visibility</mat-icon>
              <mat-icon *ngIf="!oldPasswordVisible">visibility_off</mat-icon>
            </span>
            <!-- <button class="visibility-icon"><mat-icon>visibility</mat-icon></button> -->
          </div>
          <div *ngIf="
              (f.txtOldPassword.errors && f.txtOldPassword.touched) ||
              (f.txtOldPassword.errors && submitted)
            " class="invalid-feedback">
            <div *ngIf="f.txtOldPassword.errors.required">
              Current password is required
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <label for="txtNewPassword">New Password</label>
          <div class="password-field">
            <input [type]="newPasswordVisible ? 'text' : 'password'" class="form-control" id="txtNewPassword"
              formControlName="txtNewPassword" [ngClass]="{
                'is-invalid':
                  (f.txtNewPassword.errors && f.txtNewPassword.touched) ||
                  (f.txtNewPassword.errors && submitted)
              }" />
            <span class="visibility-icon" (click)="showNewPassword()">
              <mat-icon *ngIf="newPasswordVisible">visibility</mat-icon>
              <mat-icon *ngIf="!newPasswordVisible">visibility_off</mat-icon>
            </span>
          </div>
          <div *ngIf="
              (f.txtNewPassword.errors && f.txtNewPassword.touched) ||
              (f.txtNewPassword.errors && submitted)
            " class="invalid-feedback">
            <div *ngIf="f.txtNewPassword.errors.required">
              New password is required
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <label for="txtConfirmNewPassword">Confirm New Password</label>
          <div class="password-field">
            <input [type]="passConfirmVisible ? 'text' : 'password'" class="form-control" id="txtConfirmNewPassword"
              formControlName="txtConfirmNewPassword" [ngClass]="{
                'is-invalid':
                  (f.txtConfirmNewPassword.errors &&
                    f.txtConfirmNewPassword.touched) ||
                  (f.txtConfirmNewPassword.errors && submitted)
              }" />
            <span class="visibility-icon" (click)="showPassConfirm()">
              <mat-icon *ngIf="passConfirmVisible">visibility</mat-icon>
              <mat-icon *ngIf="!passConfirmVisible">visibility_off</mat-icon>
            </span>
          </div>
          <div *ngIf="
              (f.txtConfirmNewPassword.errors &&
                f.txtConfirmNewPassword.touched) ||
              (f.txtConfirmNewPassword.errors && submitted)
            " class="invalid-feedback">
            <div *ngIf="f.txtConfirmNewPassword.errors.required">
              Confirm new password is required
            </div>
            <div *ngIf="f.txtConfirmNewPassword.errors.confirmedValidator">
              Password and Confirm Password must be match.
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 mb-2">
          <label>&nbsp;</label>
          <button class="btn btn-success btn-block" [disabled]="passwordChangeForm.invalid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </fieldset>
</div>

<!-- Popup component -->
<app-popup
  *ngIf="popup"
  (close)="onCloseModal($event)"
  [popupError]="popupError"
  [header]="header"
  [message]="message"
  [btnText]="btnText"
  [btnDisable]="btnDisabled"
></app-popup>