table {
    width: 100%;
  }
  
  /* th.mat-header-cell {
    text-align: center;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.12);
  } */
  
  .mat-cell {
    padding: 0 10px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.12);
  }
  
  .invalid-feedback {
    display: block;
    color: red;
  }
  
  .form-control.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  
  .form-control.ng-touched.ng-valid {
    border: 1px solid green;
  }
  
  .datefield {
    position: relative;
  }
  
  .datebutton {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ced4da;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 00.25rem;
  }
  
  :host /deep/ ngb-datepicker {
    top: 35px !important;
    transform: translate(0, 0) !important;
  }
  
  @media only screen and (max-width: 450px) {
    .transaction-table {
      overflow-x: scroll;
    }
  }
  
  .mat-option.mat-active
    {
      background-color: lightgrey;
    }
  