<div class="container my-3">
  <fieldset style="border: 1px solid gray; padding: 10px; border-radius: 5px" class="mb-3">
    <legend style="font-size: 12px; width: auto">Generate Transaction Receipt</legend>
    <form [formGroup]="transactionReceiptForm" (ngSubmit)="getTransactionList()" #myForm="ngForm">
      <div class="form-row">
        <div class="col-md-3 mb-1">
          <label for="ddlServiceType">Service Type</label>
          <mat-select id="ddlServiceType" name="ddlServiceType" placeholder="Select Service"
            formControlName="ddlServiceType" (selectionChange)="getServiceDetails($event)"
            class="form-control signupInput" [ngClass]="{
                                                    'is-invalid':
                                                      (f.ddlServiceType.errors && f.ddlServiceType.touched) ||
                                                      (f.ddlServiceType.errors && submitted)
                                                  }">
            <input matInput type="text" id="txtSearchService" formControlName="txtSearchService"
              class="form-control signupInput" (keydown.Space)="$event.stopPropagation()" autocomplete="off">

            <mat-option *ngFor="let service of availableServivce | search : 'title' : f.txtSearchService.value"
              value="{{ service.id }}-{{ service.title }}" class="signupInput">
              {{ service.title }}
            </mat-option>
          </mat-select>
          <div *ngIf="
                (f.ddlServiceType.errors && f.ddlServiceType.touched) ||
                (f.ddlServiceType.errors && submitted)
              " class="invalid-feedback">
            <div *ngIf="f.ddlServiceType.errors.required">
              Please select service
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-1 date">
          <label for="startdate">Start Date</label>
          <div class="datefield">
            <input class="form-control" placeholder="dd/mm/yyyy" name="startdp" ngbDatepicker [minDate]="minDate"
              [maxDate]="maxDate" #startdp="ngbDatepicker" [footerTemplate]="startDateFooter"
              formControlName="startdate" readonly [ngClass]="{
                  'is-invalid':
                    (f.startdate.errors && f.startdate.touched) ||
                    (f.startdate.errors && submitted)
                }" />
            <button type="button" (click)="startdp.toggle()" class="datebutton">
              <mat-icon>calendar_today</mat-icon>
            </button>
          </div>
          <ng-template #startDateFooter>
            <hr class="my-0" />
            <button class="btn btn-success btn-sm m-2 float-left" (click)="
                transactionReceiptForm.controls['startdate'].setValue(today);
                  startdp.close()
                ">
              Today
            </button>
            <button class="btn btn-secondary btn-sm m-2 float-right" (click)="startdp.close()">
              Close
            </button>
          </ng-template>
          <div *ngIf="
                (f.startdate.errors && f.startdate.touched) ||
                (f.startdate.errors && submitted)
              " class="invalid-feedback">
            <div *ngIf="f.startdate.errors.required">
              Start date is required
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-1">
          <label for="enddate">End Date</label>
          <div class="datefield">
            <input class="form-control" placeholder="dd/mm/yyyy" name="enddp" ngbDatepicker #enddp="ngbDatepicker"
              [minDate]="minDate" [maxDate]="maxDate" [footerTemplate]="endDateFooter" formControlName="enddate"
              readonly [ngClass]="{
                  'is-invalid':
                    (f.enddate.errors && f.enddate.touched) ||
                    (f.enddate.errors && submitted)
                }" />
            <button type="button" (click)="enddp.toggle()" class="datebutton">
              <mat-icon>calendar_today</mat-icon>
            </button>
          </div>
          <ng-template #endDateFooter>
            <hr class="my-0" />
            <button class="btn btn-success btn-sm m-2 float-left" (click)="
                transactionReceiptForm.controls['enddate'].setValue(today); enddp.close()
                ">
              Today
            </button>
            <button class="btn btn-secondary btn-sm m-2 float-right" (click)="enddp.close()">
              Close
            </button>
          </ng-template>
          <div *ngIf="
                (f.enddate.errors && f.enddate.touched) ||
                (f.enddate.errors && submitted)
              " class="invalid-feedback">
            <div *ngIf="f.enddate.errors.required">End date is required</div>
          </div>
        </div>
        <div class="col-md-1 mb-1">
          <label>&nbsp;</label>
          <button class="btn btn-success btn-block" [disabled]="transactionReceiptForm.invalid">
            Show
          </button>
        </div>
      </div>
    </form>
  </fieldset>

  <div class="transaction-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="transactioN_DATE_NM">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.transactioN_DATE_NM }}</td>
      </ng-container>
      <ng-container matColumnDef="transfeR_TYPE_NM">
        <th mat-header-cell *matHeaderCellDef>Transfer Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.transfeR_TYPE_NM | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="froM_ACCOUNT_NO">
        <th mat-header-cell *matHeaderCellDef>Source</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          {{ element.froM_BRANCH_ID }}-{{ element.froM_ACCOUNT_NO }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tO_ACCOUNT_NO">
        <th mat-header-cell *matHeaderCellDef>Destination</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <ng-container *ngIf="element.tO_BRANCH_ID && element.tO_BRANCH_ID != 0">
            {{ element.tO_BRANCH_ID }}-{{ element.tO_ACCOUNT_NO }}
          </ng-container>
          <ng-container *ngIf="!element.tO_BRANCH_ID || element.tO_BRANCH_ID == 0">
            {{ element.tO_ACCOUNT_NO }}
          </ng-container>             
        </td>
      </ng-container>
      <ng-container matColumnDef="amounT_CCY">
        <th mat-header-cell *matHeaderCellDef>Amount (BDT)</th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.amounT_CCY }}</td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="rightalign">
          <button  mat-stroked-button color="primary" (click)="generateReceipt(element)" matTooltip="Click to Generate Transaction Receipt">
            <b>Download</b>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]" showFirstLastButtons></mat-paginator>
</div>

<app-loader *ngIf="loading"></app-loader>

<!-- Popup component -->
<app-popup *ngIf="popup" (close)="onCloseModal($event)" [popupError]="popupError" [header]="header" [message]="message"
  [btnText]="btnText"></app-popup>