<div class="container my-3">
  <div class="form-row">
    <div class="col-md-12 col-sm-12 mb-2">
      <mat-tab-group dynamicHeight animationDuration="1000ms">
        <mat-tab label="Application Details">
          <br />
          <app-application-details
            [loanApplicationDetail]="
              loanApplicationDetails.loanApplicationDetail
            "
          ></app-application-details>
        </mat-tab>
        <mat-tab label="Assets">
          <br />
          <app-asset-details
            [loanAssets]="loanApplicationDetails.loanAssetDetails"
          ></app-asset-details>
        </mat-tab>
        <mat-tab label="References">
          <br />
          <app-loan-references-details
            [loanReferences]="loanApplicationDetails.loanReferanceDetails"
          ></app-loan-references-details>
        </mat-tab>
        <mat-tab label="Documents">
          <br />
          <app-loan-documents
            [branchId]="loanApplicationDetails.loanApplicationDetail.branchId"
            [productId]="loanApplicationDetails.loanApplicationDetail.productId"
            [loanRequestId]="loanApplicationDetails.loanApplicationDetail.loanrequestid"
            [loanUploadedDocuments]="
              loanApplicationDetails.loanUploadedDocumentsDetails
            "
            [loanMissingDocuments]="loanApplicationDetails.loanMissingDocumentsDetails"
          ></app-loan-documents>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-2 my-2">
      <button
        type="button"
        class="btn btn-success btn-block"
        routerLink="/investment/log"
      >
        Back
      </button>
    </div>
  </div>
</div>
