<div class="container my-3" *ngIf="isComponentShow">
    <fieldset style="border: 1px solid gray; padding: 10px; border-radius: 5px">
        <legend style="font-size: 12px; width: auto">Bill Payment Details</legend>

        <form [formGroup]="billPaymentForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div [ngClass]="billProvider === '' ||billProvider === 'CREDITCARDBILLOWN' || billProvider === 'CREDITCARDBILLOTHER' ? 'col-md-8 mb-3' : 'col-md-6 mb-3'">
                    <label for="mobileOperator">Provider/Vendor</label>
                    <div class="form-row vendor-buttons">
                        <!-- [color]="billProvider === vendor.id ? 'primary' : ''" -->
                        <ng-container *ngFor="let vendor of vendorList">
                            <button type="button" mat-raised-button class="mt-2 p-1 mx-1 m-2"
                                (click)="selectProvider(vendor)"
                                *ngIf="billProvider === '' || billProvider === vendor.id">
                                <img src="{{ vendor.logo }}" alt="" height="58" />
                                {{ vendor.title }}
                            </button>
                        </ng-container>
                    </div>
                    <p *ngIf="billProvider !== ''" class="cust-link mt-2" (click)="changeProvider()">
                        Change Provider/Vendor
                    </p>
                </div>
            </div>
            <div class="container my-3" *ngIf="isDisplayFutureMessage">
                <div class="form-row">
                    <div class="col-md-12 mt-20">
                        <div style="font-size: 25px; color: #3C398F; text-align: center;">
                            <strong>This Feature Will Come Soon</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isDisplayFuture">
                <div class="form-row" *ngIf="billProvider !== ''">
                    <div [ngClass]="billProvider === 'CREDITCARDBILLOWN' || billProvider === 'CREDITCARDBILLOTHER' ? 'col-md-8 mb-3' : 'col-md-4 mb-2'">
                        <label for="ddlPayOutAccount">Payment From (Account/Card Number)</label>
                        <mat-select id="ddlPayOutAccount" name="ddlPayOutAccount" formControlName="ddlPayOutAccount"
                            (selectionChange)="getAccountDetails($event)" class="form-control signupInput" [ngClass]="{
              'is-invalid':
                (f.ddlPayOutAccount.errors && f.ddlPayOutAccount.touched) ||
                (f.ddlPayOutAccount.errors && submitted)
            }">
                            <input matInput type="text" id="txtSearchValue" formControlName="txtSearchValue"
                                placeholder="Search Here" class="form-control signupInput"
                                (keydown.Space)="$event.stopPropagation()" autocomplete="off">
                            <mat-option value="">-- Select --</mat-option>
                            <mat-option
                                *ngFor="let acc of userAccountList | search : 'accounT_NUMBER' : f.txtSearchValue.value"
                                value="{{ acc.brancH_ID }}_{{ acc.accounT_NUMBER }}_{{ acc.accounT_TITLE }}"
                                class="signupInput">
                                {{ acc.brancH_ID }}-{{ acc.accounT_NUMBER }}
                            </mat-option>
                        </mat-select>

                        <!-- <select id="ddlPayOutAccount" name="ddlPayOutAccount" class="form-control"
                        formControlName="ddlPayOutAccount" (change)="getAccountDetails($event)" [ngClass]="{
                                        'is-invalid':
                                          (f.ddlPayOutAccount.errors && f.ddlPayOutAccount.touched) ||
                                          (f.ddlPayOutAccount.errors && submitted)
                                      }">
                        <option value="" selected>--Select--</option>
                        <option *ngFor="let acc of userAccountList" value="{{ acc.brancH_ID }}_{{ acc.accounT_NUMBER }}_{{
                              acc.accounT_TITLE
                            }}">
                            {{ acc.brancH_ID }}-{{ acc.accounT_NUMBER }}
                        </option>
                    </select> -->
                        <div *ngIf="
                                  (f.ddlPayOutAccount.errors && f.ddlPayOutAccount.touched) ||
                                  (f.ddlPayOutAccount.errors && submitted)
                                " class="invalid-feedback">
                            <div *ngIf="f.ddlPayOutAccount.errors.required">
                                Please select Payee Account
                            </div>
                        </div>
                        <p class="mt-2">
                            <b>{{ PayeeAccountTitle | titlecase }}</b>
                        </p>
                    </div>
                    <!-- <div class="col-md-4 mb-2">
                    <label for="ddlVendor">Provider/Vendor</label>
                    <select id="ddlVendor" name="ddlVendor" class="form-control" formControlName="ddlVendor"
                        (change)="changeUIByVendor($event);" [ngClass]="{
                            'is-invalid':
                              (f.ddlVendor.errors && f.ddlVendor.touched) ||
                              (f.ddlVendor.errors && submitted)
                          }">
                        <option value="" selected>--Select--</option>
                        <option *ngFor="let vendor of vendorList" value="{{ vendor.id }}_{{ vendor.ppvCode }}">
                            {{ vendor.title }}
                        </option>
                    </select>
                    <div *ngIf="
                                  (f.ddlVendor.errors && f.ddlVendor.touched) ||
                                  (f.ddlVendor.errors && submitted)
                                " class="invalid-feedback">
                        <div *ngIf="f.ddlVendor.errors.required">
                            Please Select Provider/Vendor
                        </div>
                    </div>
                </div> -->
                </div>
                <div class="form-row" *ngIf="gotAcc">
                    <div class="col-md-4 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label><b>Available Balance</b></label>
                            </div>
                            <div class="col-7">
                                <label class="text-primary">
                                    <b>:</b>&nbsp;{{accountBalanceResult.availablE_BALANCE
                                    }}</label>
                            </div>
                        </div>
                        <label>{{ AvailableBalanceInWords | titlecase }}</label>
                    </div>
                    <div *ngIf="billProvider === 'CREDITCARDBILLOWN' || billProvider === 'CREDITCARDBILLOTHER' " class="col-md-4 mb-2">
                        <label for="ddlMFSBeneficiary">Beneficiary</label>
                        <mat-select [attr.required]="isbeneficiaryRequired" id="ddlMFSBeneficiary" name="ddlMFSBeneficiary" formControlName="ddlMFSBeneficiary"
            (selectionChange)="populateMFSByBenificiary($event)" class="form-control signupInput"
            [ngClass]="{
                'is-invalid':
                  (f.ddlMFSBeneficiary?.errors && f.ddlMFSBeneficiary?.touched) ||
                  (f.ddlMFSBeneficiary?.errors && submitted)
              }">
            <input matInput type="text" id="txtSearchValue" formControlName="txtSearchValue" placeholder="Search Here"
              class="form-control signupInput" (keydown.Space)="$event.stopPropagation()" autocomplete="off">
            <mat-option value="">--Select Beneficiary--</mat-option>
            <mat-option
            *ngFor="let beneficiary of beneficiaryList"
            value="{{ beneficiary.beneficiaryId }}-{{
                beneficiary.beneficiaryAlias
              }}"
          >
            {{ beneficiary?.beneficiaryAlias }} - {{ maskCharacter(beneficiary?.toAccountNo) }}
          </mat-option>
          </mat-select>
                        <!-- <select
                          id="ddlMFSBeneficiary"
                          formControlName="ddlMFSBeneficiary"
                          class="form-control"
                          [attr.required]="isbeneficiaryRequired"
                          (change)="populateMFSByBenificiary($event)"
                          [ngClass]="{
                            'is-invalid':
                              (f.ddlMFSBeneficiary?.errors && f.ddlMFSBeneficiary?.touched) ||
                              (f.ddlMFSBeneficiary?.errors && submitted)
                          }"
                        >
                          <option value="undefined" hidden>---Select---</option>
                          <option
                            *ngFor="let beneficiary of beneficiaryList"
                            value="{{ beneficiary.beneficiaryId }}-{{
                              beneficiary.beneficiaryAlias
                            }}"
                          >
                            {{ beneficiary?.beneficiaryAlias }} - {{ maskCharacter(beneficiary?.toAccountNo) }}
                          </option>
                        </select> -->
                        <div *ngIf="beneficiaryList?.length <= 0">
                          <a routerLink="/transactions/beneficiary" style=" text-decoration: none; margin: 5px;" >Please First Add Beneficiary</a>
                        </div>
                        <div
                        *ngIf="
                          (f.ddlMFSBeneficiary?.errors && f.ddlMFSBeneficiary?.touched) ||
                          (f.ddlMFSBeneficiary?.errors && submitted)"
                        class="invalid-feedback">
                        <div *ngIf="isbeneficiaryRequired">
                          Please select beneficiary.
                        </div>
                      </div>
                      </div>
                </div>
                <!--  Credit Card Other bank -->
                <div class="form-row" *ngIf="billProvider === 'CREDITCARDBILLOTHER' && gotAcc">
                    <div class="col-md-8 mb-2">
                        <label for="paymentBankId">Bank Name</label>
                        <mat-select id="paymentBankId" name="paymentBankId" formControlName="paymentBankId"
                            class="form-control signupInput">
                            <input matInput type="text" id="txtSearchBank" formControlName="txtSearchBank" placeholder="Search Here"
                                class="form-control signupInput" (keydown.Space)="$event.stopPropagation()"
                                autocomplete="off">
                            <mat-option value="" selected>--Select Bank--</mat-option>
                            <mat-option
                                *ngFor="let bank of otherBankList | search : 'banK_NM' : f.txtSearchBank.value"
                                value="{{bank.banK_ID}}" class="signupInput">
                                {{bank.banK_NM}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div *ngIf="billProvider !== '' && gotAcc">
                    <div class="form-row">
                        <div class="col-md-4 mb-3" *ngIf="isShowBillNumber">
                            <label for="txtBillNumber">{{billNumberLabelText}}</label>
                            <input type="text" id="txtBillNumber" name="txtBillNumber" class="form-control"
                                formControlName="txtBillNumber" (change)="getBillDetails()" [ngClass]="{
                                    'is-invalid':
                                      (f.txtBillNumber.errors && f.txtBillNumber.touched) ||
                                      (f.txtBillNumber.errors && submitted)
                                  }"
                                  [readonly]="billProvider === 'CREDITCARDBILLOWN' || billProvider === 'CREDITCARDBILLOTHER' " />
                            <div *ngIf="
                                    (f.txtBillNumber.errors && f.txtBillNumber.touched) ||
                                    (f.txtBillNumber.errors && submitted)
                                  " class="invalid-feedback">
                                <div *ngIf="f.txtBillNumber.errors.required">
                                    {{billNumberLabelText}} is required
                                </div>
                                <div *ngIf="f.txtBillNumber.errors.pattern">
                                    {{billNumberLabelText}} must contain only numbers
                                </div>
                                <div *ngIf="f.txtBillNumber.errors?.minlength">
                                    {{billNumberLabelText}} must be at least 16 characters long.
                               </div>
                               <div *ngIf="f.txtBillNumber.errors?.maxlength">
                                {{billNumberLabelText}} can be max 17 characters long.
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf="billProvider === 'CREDITCARDBILLOWN' || billProvider === 'CREDITCARDBILLOTHER' ">
                            <label for="txtMfsReciverName">Receiver Name/ Title</label>
                            <input
                              id="txtMfsReciverName"
                              class="form-control"
                              placeholder="Enter Receiver Name"
                              formControlName="txtMfsReciverName"
                            />
                          </div>
                    </div>
                    <div class="form-row" *ngIf="isShowCustomerName">
                        <div class="col-md-4 mb-3">
                            <label for="txtCustomerName">{{customerNameLabelText}}</label>
                            <input type="text" id="txtCustomerName" name="txtCustomerName" class="form-control"
                                formControlName="txtCustomerName" readonly />
                        </div>
                    </div>
                    <!-- <div class="col-md-3 mb-2 pr-1" *ngIf="selectedTransactionType === 'OWNBANKOTHERACC'">
                        <label for="txtReceiverName">Receiver Name</label>

                        <textarea class="form-control" rows="1" id="txtReceiverName" name="txtReceiverName"
                            formControlName="txtReceiverName" readonly>
                        </textarea>
                    </div> -->
                    <div class="form-row" *ngIf="isShowRequestId">
                        <div class="col-md-4 mb-3">
                            <label for="txtRequestId">Request ID</label>
                            <input type="text" id="txtRequestId" name="txtRequestId" class="form-control"
                                formControlName="txtRequestId" />
                        </div>
                    </div>

                    <div class="form-row" *ngIf="isBtclBill">
                        <div class="col-md-4 mb-2">
                            <label for="txtBtclNumber">BTCL No.</label>
                            <input type="text" id="txtBtclNumber" name="txtBtclNumber" class="form-control"
                                formControlName="txtBtclNumber" (change)="getBillDetails()" />
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="ddlBtclExchangeCode">Exchange Code</label>
                            <select id="ddlBtclExchangeCode" name="ddlBtclExchangeCode" class="form-control"
                                formControlName="ddlBtclExchangeCode">
                                <option value="undefined" selected>--Select--</option>
                                <option *ngFor="let ctg of billCategoryList" value="{{ ctg.catgorY_CODE }}">
                                    {{ ctg.catgorY_NM }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="isShowBillZoneAndMonth">
                        <div class="col-md-4 mb-2">
                            <label for="ddlBillZone">{{billZoneLabelText}}</label>
                            <select id="ddlBillZone" name="ddlBillZone" class="form-control"
                                fromControlName="ddlBillZone" (change)="getBillZone($event)">
                                <option value="undefined" selected>--Select--</option>
                                <option *ngFor="let zone of zoneList" value="{{ zone.zonE_CODE }}">
                                    {{ zone.zonE_NM }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="ddlBillMonth">Bill Month</label>
                            <select id="ddlBillMonth" name="ddlBillMonth" class="form-control"
                                formControlName="ddlBillMonth">
                                <option value="undefined" selected>--Select--</option>
                                <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="ddlBillYear"> Bill Year &nbsp;</label>
                            <select id="ddlBillYear" name="ddlBillYear" class="form-control"
                                formControlName="ddlBillYear">
                                <option *ngFor="let year of billYears" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="isSchoolBankingBill">
                        <div class="col-md-4 mb-2">
                            <label for="txtStudentID">Student ID</label>
                            <input type="text" id="txtStudentID" name="txtStudentID" class="form-control"
                                formControlName="txtStudentID" (change)="getBillDetails()" />
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="txtStudentName">Student Name</label>
                            <input type="text" id="txtStudentName" name="txtStudentName" class="form-control"
                                formControlName="txtStudentName" />
                        </div>
                    </div>
                    <div class="form-row" *ngIf="isNIDBill">
                        <div class="col-md-4 mb-2">
                            <label for="txtNationalID">National ID</label>
                            <input type="text" id="txtNationalID" name="txtNationalID" class="form-control"
                                formControlName="txtNationalID" (change)="getBillDetails()" />
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="ddlNidBillCategory">Bill Category</label>
                            <select id="ddlNidBillCategory" name="ddlNidBillCategory" class="form-control"
                                formControlName="ddlNidBillCategory">
                                <option value="" selected>--Select--</option>
                                <option *ngFor="let ctg of billCategoryList" value="{{ ctg.catgorY_CODE }}">
                                    {{ ctg.catgorY_NM }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="isNSUBill">
                        <div class="col-md-4 mb-2">
                            <label for="txtNsuBillCode">Bill Code</label>
                            <input type="text" id="txtNsuBillCode" name="txtNsuBillCode" class="form-control"
                                formControlName="txtNsuBillCode" (change)="getBillDetails()" />
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="ddlStudentBillType">Payment Type</label>
                            <select id="ddlStudentBillType" name="ddlStudentBillType" class="form-control"
                                formControlName="ddlStudentBillType">
                                <option value="" selected>--Select--</option>
                                <option value="ADMISSION">ADMISSION</option>
                                <option value="REGISTRATION">REGISTRATION</option>
                                <option value="TUTIONFEE">TUTION FEE</option>
                                <option value="OTHER">OTHER</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="isShowBGDCL">
                        <div class="form-row">
                            <div class="col-md-2 mb-2">
                                <label for="ddlFromBillMonth">From Bill Month</label>
                                <select id="ddlFromBillMonth" name="ddlFromBillMonth" class="form-control"
                                    formControlName="ddlFromBillMonth">
                                    <option value="" selected>--Select--</option>
                                    <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="ddlFromBillYear">&nbsp;</label>
                                <select id="ddlFromBillYear" name="ddlFromBillYear" class="form-control"
                                    formControlName="ddlFromBillYear">
                                    <option *ngFor="let year of billYears" [value]="year">{{ year }}</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="ddlToBillMonth">To Bill Month</label>
                                <select id="ddlToBillMonth" name="ddlToBillMonth" class="form-control"
                                    formControlName="ddlToBillMonth">
                                    <option value="" selected>--Select--</option>
                                    <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="ddlToBillYear">&nbsp;</label>
                                <select id="ddlToBillYear" name="ddlToBillYear" class="form-control"
                                    formControlName="ddlToBillYear">
                                    <option *ngFor="let year of billYears" [value]="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row align-items-center" *ngIf="billProvider !== '' && gotAcc">
                        <div class="col-md-4 col-sm-8 col-8">
                            <label for="txtBillAmount">Bill Amount</label>
                            <input class="form-control" formControlName="txtBillAmount" style="text-align: right;"
                                checkParamValueIsGreaterthan="{{accountBalanceResult.availablE_BALANCE}}"
                                (keyup)="getTransferAmountInWords($event)" (change)="setBillProperties()" [ngClass]="{
                          'is-invalid':
                            (f.txtBillAmount.errors && f.txtBillAmount.touched) ||
                            (f.txtBillAmount.errors && submitted)||(f.txtBillAmount.errors && f.txtBillAmount.errors.isGreaterthan)
                        }" />
                            <div *ngIf="
                          (f.txtBillAmount.errors && f.txtBillAmount.touched) ||
                          (f.txtBillAmount.errors && submitted)||(f.txtBillAmount.errors && f.txtBillAmount.errors.isGreaterthan)
                        " class="invalid-feedback">
                                <div *ngIf="f.txtBillAmount.errors.required">
                                    Bill amount is required
                                </div>
                                <div *ngIf="f.txtBillAmount.errors.pattern">
                                    Bill amount must contain only numbers
                                </div>
                                <div *ngIf="!f.txtBillAmount.errors.pattern && f.txtBillAmount.errors.isGreaterthan">
                                    Bill amount must be lower or equal to Available Balance
                                </div>
                            </div>
                            <p class="mt-2">{{ BillAmountInWords | titlecase }}</p>
                        </div>
                        <div class="col-md-2 col-sm-4 col-4" *ngIf="!isHideBillAmountButton">
                            <!-- Amount buttons -->
                            <div class="form-row amount-buttons">
                                <button *ngFor="let amount of transferAmounts" mat-raised-button
                                    class="mt-2 mx-1 btn-success" type="button" (click)="setAmount(amount)">
                                    {{ amount }}
                                </button>
                            </div>
                            <!-- Amount buttons end -->
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3" *ngIf="isShowBillAccountNumber">
                            <label for="txtBillAccountNumber">{{billAccountNumberLabelText}}</label>
                            <input type="text" id="txtBillAccountNumber" name="txtBillAccountNumber"
                                class="form-control" formControlName="txtBillAccountNumber"
                                (change)="getBillDetails()" />
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-md-2 mb-2">
                            <button [disabled]="billPaymentForm.invalid" class="btn btn-success btn-block"
                                type="submit">
                                Submit
                            </button>
                        </div>
                        <div class="col-md-2 mb-2">
                            <button type="button" class="btn btn-refresh btn-block" (click)="onReset()">
                                Refresh
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div class="form_bg" *ngIf="false">
    <!-- isOtpShow -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <!-- <div class="col-4"> -->
                <form class="form-container" #otpForm="ngForm" (ngSubmit)="submitOtp()" autocomplete="off">
                    <button type="button" class="btn btn-success back-btn" (click)="backClick()">
                        <span>&lt;</span> <span class="pl-2">Go back</span>
                    </button>
                    <h4 class="text-capitalize text-center mt-4 mb-2">
                        <span>2-Step Verification</span>
                    </h4>
                    <div class="my-1 text-center">
                        <!-- <span class="content">A verification code has been sent to you via SMS.</span>
                <br />
                <span class="content">Please verify that 6 digit code below to continue.</span> -->
                        <span class="content">Please enter your security code.</span>
                    </div>
                    <!-- <div>
                <span class="float-right my-3 content text-primary resendCode" (click)="onClick()">Resend code</span>
              </div> -->
                    <div class="form-group">
                        <input type="text" id="txtOtp" class="form-control" name="otp" [(ngModel)]="otp" required
                            pattern="^[0-9]*$" minlength="4" maxlength="6" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block" [disabled]="!otpForm.valid">
                            <b>Verify</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="isOtpShow"> -->
<app-confirm-otp *ngIf="isOtpShow" [onSubmit]="otpSubmit" [goBack]="goBack" [title]="title" (otpEmitter)="setOtp($event)">
</app-confirm-otp>
<!-- </div> -->

<!-- </div> -->
<!-- Loader component -->
<app-loader *ngIf="loading"></app-loader>

<!-- Popup component -->
<app-popup *ngIf="popup" (close)="onCloseModal($event)" [popupError]="popupError" [header]="header" [message]="message"
    [btnText]="btnText"></app-popup>
