table {
  width: 100%;
}

.mat-button {
  color: green;
} 

@media only screen and (max-width: 450px) {
  .acc-table-container {
    overflow-x: scroll;
  }

  .cheque-table {
    overflow-x: scroll;
  }

  .history-table {
    overflow-x: scroll;
  }
}
