<div class="container my-3">
  <fieldset
    style="border: 1px solid gray; padding: 10px; border-radius: 5px"
    class="mb-3"
  >
    <form [formGroup]="userActivityForm" (ngSubmit)="showRecentActivities()">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="accountno">No. of activities</label>
          <select name="accountno" class="form-control" formControlName="count">
            <option value="0" selected>--Select--</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
          </select>
        </div>
        <div class="col-md-2 mb-2">
          <label class="empty-label" for="accountno">&nbsp;</label>
          <button class="btn btn-success btn-block">Show</button>
        </div>
        <div class="col-md-2 mb-2">
          <label class="empty-label" for="accountno">&nbsp;</label>
          <button type="button" class="btn btn-refresh btn-block" (click)="resetForm()">Refresh</button>
        </div>
      </div>
    </form>
  </fieldset>

  <div class="activity-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="sl">
        <th mat-header-cell *matHeaderCellDef>Sl</th>
        <td mat-cell *matCellDef="let element; let i = index;"> 
          {{paginator.pageIndex * paginator.pageSize + i + 1}} 
        </td>
      </ng-container> 
      <ng-container matColumnDef="activityAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.activityAt  | date: "dd-MMM-y hh:mm:ss a"}}
        </td>
      </ng-container>    
      <ng-container matColumnDef="activityType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.activityType | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="activityNM">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          {{ element.activityNM}}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let element">
          {{ element.comment | titlecase }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="requestedFrom">
        <th mat-header-cell *matHeaderCellDef>Source</th>
        <td mat-cell *matCellDef="let element">
          {{ element.requestedFrom == 'IBU' ? 'Web' : 'Mobile'  }} ({{element.ipImei}})
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns" [ngClass]="{gray: even}"></tr>
    </table>
  </div>
  <br />
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 25]"
    showFirstLastButtons
  ></mat-paginator>
  
</div>

<app-loader *ngIf="loading"></app-loader>

<!-- Popup component -->
<app-popup
  *ngIf="popup"
  (close)="onCloseModal($event)"
  [popupError]="popupError"
  [header]="header"
  [message]="message"
  [btnText]="btnText"
></app-popup>