<div class="container">
    <div class="form-row">
        <div class="col-md-12 mb-2">
            <div class="MainBox mt-2 mb-2">
                <div class="header col-md-12">
                    <div class="headerTitle col-md-12"></div>
                    <div class="headerLogo col-md-12">                        
                        <img src="assets/images/Bank_Logo_Large.jpg">                       
                    </div>
                </div>
                <div class="content col-12">
                    <div class="row">
                        <div class="col-1 col-md-1 col-sm-2"></div>
                        <div class="col-10 col-md-10 col-sm-8" [innerHTML]="fileValue" style="font-size: 16px; line-height: 2em;"></div>
                        <div class="col-1 col-md-1 col-sm-2"></div>
                    </div>                    
                </div>
                <div class="bottomArea">
                    <div class="footer">
                        <div class="footerLink">
                            <a href="assets/files/RegistrationForm.pdf" id="lnkRegistrationForm" class="footerLink"
                                tabindex="21" target="_blank">REGISTRATION FORM |</a>
                            &nbsp;
                            <a href="assets/files/AdviceForCustomer.pdf" id="lnkAdvice" class="footerLink" tabindex="22"
                                target="_blank">ADVICES FOR CUSTOMER |</a>
                            &nbsp;
                            <a href="assets/files/TermsAndConditions.pdf" id="lnkTermsAndCondition" class="footerLink"
                                tabindex="23" target="_blank">TERMS &amp; CONDITIONS |</a>
                            &nbsp;
                            <a href="assets/files/ServicesAvailable.pdf" id="lnkServiceAvailable" class="footerLink"
                                tabindex="24" target="_blank">SERVICES AVAILABLE |</a>
                        </div>
                        <div class="footerImg">
                            <img id="imge" src="assets/images/Norton-Secured-Seal.jpg" alt="Norton Secured Seal">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="copyright">
                        <p>Copyright © {{year}} First Security Islami Bank Limited. All rights reserved.</p>
                        <div class="footerLogo">
                            <img src="assets/images/leads_logo.png" alt="leads_logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>