<!-- <mat-toolbar>
    <span>Create</span>
    <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar> -->

<!-- <form [formGroup]="loginForm">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</form> -->
<form [formGroup]="form" class="dialog-form">

    <div mat-dialog-title>
      Add New User
    </div>
    <mat-dialog-content>
  
      <input type="hidden" formControlName="$key" />
      <mat-form-field>
        <input formControlName="fullName" matInput placeholder="Full Name*" />
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" />
        <mat-error>Invalid email address.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="mobile" matInput placeholder="Mobile*" />
        <mat-error *ngIf="form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
        <mat-error *ngIf="form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="city" matInput placeholder="City" />
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="3">Other</mat-radio-button>
      </mat-radio-group>
  
      <mat-form-field>
        <mat-select formControlName="department" placeholder="Department">
          <ng-container>
            <mat-option value="1">Human Resource Management</mat-option>
            <mat-option value="2">Information Technology</mat-option>
            <mat-option value="3">Accounting and Finance</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
  
      <!-- <mat-form-field>
        <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
          
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" 
        type="submit" [disabled]="form.invalid">Submit</button>
          <button mat-raised-button color="warn">Clear</button>
    </mat-dialog-actions>
  </form>

<!-- (ngSubmit)="onSubmit()" -->
