<!-- <footer class=" fixed-bottom container-fluid navbar-light bg-light py-3">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; {{toYear}} <a href="https://leads.com.bd">LEADS Corporation Ltd.</a>.</strong> All rights reserved.
  </footer> -->

<footer class="position-relative container-fluid navbar-light py-1 align-items-center d-flex justify-content-center">
  <img [src]="footerBankLogo" class="footer-logo bg-light img-fluid p-1 rounded" alt="">
  <span class="footer-bank-name">ফার্স্ট সিকিউরিটি ইসলামী ব্যাংক লিমিটেড</span>
  &nbsp;
  <img [src]="footerLogo" class="footer-logo" alt="">
</footer>