footer {
    /* background-image: url("../../../../assets/images/bg.png"); */
    /* background-color: #00763A ; */
    background-color: #212589;
    background-position: center;
    background-size: cover;
    bottom: 0;
}

.footer-logo {
    height: 30px;
}

.footer-bank-name
{
    font-size: 16px; 
    margin-left: 10px; 
    margin-top: 5px; 
    color: white; 
    /* font-weight: bold; */
}
/* .footer-logo {
    height: 40px;
} */