table {
  width: 100%;
}

/* th.mat-header-cell {
  text-align: center;
  background-color: #28a745;
  color: white;  
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.12);
} */

/* .mat-cell {
  padding: 0 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.12);
} */

@media only screen and (max-width: 450px) {
  .acc-table-container {
    overflow-x: scroll;
  }
}

.gray { background-color: lightgrey; }
