<!-- <div *ngIf="isOtpShow">  *ngIf="isOtpShow"-->
  <div class="container">
    <div class="form_bg d-flex align-items-center">
      <div class="">
        <div class="row d-flex align-items-center">
          <!-- <div class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-7"> -->
          <div class="col-12 col-sm-12 col-md-12 login_ui">
            <div class="row" style="text-align:center;">
              <div class="col-md-7 d-flex justify-content-center align-items-center login_bank_logo">
                <img class=" px-2 py-1 img-fluid" style="height:200px" src="assets/images/FSIBL_Cloud.png">
                <!-- <img class="bg-light px-2 py-1 img-fluid" height="70" src="assets/images/Bank_Logo_Large.jpg"> -->
              </div>
              <div class="col-md-4">
                <div class="login-container">
                  <mat-tab-group dynamicHeight>
                    <mat-tab label="Login">
                      <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <!-- <h1 class="text-center form-header">
                          <span>LOG IN</span>
                        </h1> -->
                        <!-- <div class="my-1 text-center">
                          <span class="content" style="color: darkgreen; font-size: 16px">{{
                            !usernameProvided
                            ? "Enter user id to login"
                            : "Enter password to login"
                            }}</span>
                        </div> -->
                        <!-- <div class="mb-4" *ngIf="!usernameProvided"> -->
                        <div class="mb-3 mt-2">
                          <div class="form-group position-relative margin-none">
                            <!-- <label for="username">User Name</label> -->
                            <mat-icon class="position-absolute input-icon-left">person</mat-icon>
                            <input [type]="usernameVisibility ? 'text' : 'password'" formControlName="username"
                              class="form-control form-text-input" placeholder="User ID" [ngClass]="{
                              'is-invalid':
                                (f.username.errors && f.username.touched) ||
                                (f.username.errors && submitted)
                            }" />
                            <mat-icon *ngIf="!usernameVisibility" class="visibility-icon position-absolute"
                              (click)="changeUsernameVisibility()">
                              visibility_off
                            </mat-icon>
                            <mat-icon *ngIf="usernameVisibility" class="visibility-icon position-absolute"
                              (click)="changeUsernameVisibility()">
                              visibility
                            </mat-icon>
                          </div>
                          <!-- <div *ngIf="
                            (f.username.errors && f.username.touched) ||
                            (f.username.errors && submitted)
                          " class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">
                              Username is required
                            </div>
                          </div> -->
                        </div>
                        <!-- <div class="mb-4" *ngIf="usernameProvided"> -->
                        <div class="mb-3">
                          <div class="form-group position-relative margin-none">
                            <!-- <label for="password">Password</label> -->
                            <mat-icon class="position-absolute input-icon-left">lock</mat-icon>
                            <input [type]="passwordVisibility ? 'text' : 'password'" formControlName="password"
                              class="form-control form-text-input" placeholder="Password" [ngClass]="{
                              'is-invalid':
                                (f.password.errors && f.password.touched) ||
                                (f.password.errors && submitted)
                            }" />
                            <mat-icon *ngIf="!passwordVisibility" class="visibility-icon position-absolute"
                              (click)="changePassVisibility()">
                              visibility_off
                            </mat-icon>
                            <mat-icon *ngIf="passwordVisibility" class="visibility-icon position-absolute"
                              (click)="changePassVisibility()">
                              visibility
                            </mat-icon>
                          </div>
                          <!-- <div *ngIf="
                            (f.password.errors && f.password.touched) ||
                            (f.password.errors && submitted)
                          " class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">
                              Password is required
                            </div>
                          </div> -->
                        </div>
                        <div class="d-flex justify-content-center pt-2 mb-1">
                          <button [disabled]="loading" class="btn btn-success login-button mr-3">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Log In
                          </button>
                          <button class="btn btn-refresh login-button ml-3" type="button" (click)="onReset()">
                            Refresh
                          </button>
                        </div>
                        <div class="col-md-12 mb-2"
                          style="height:70px; padding:0px; margin-top: 17px; border-top: 2px solid lightgray; border-bottom: 2px solid lightgray;">
                          <!-- <a class="login-items mb-1" type="button" routerLink="/selfregistration">
                                                                        <span class="w-100 text-center">Self-Registration</span>
                                                                      </a> -->
                          <!-- <div class="mt-2" style="float:left;">
                            <a class="login-items mb-1" type="button" routerLink="/passwordrecovery">
                              <span>Password Recovery </span>
                            </a>
                          </div> -->
                          <div class="mt-2">
                            <a class="login-items mb-1" type="button" routerLink="/useridrecovery">
                              <span class="text-right">Forgotten your User ID? </span>
                            </a>
                          </div>
                          <div class="mt-1" style="float:left;">
                            <a class="login-items mb-1" type="button" [routerLink]="['/passwordrecovery',{key:'password'}]">
                              <span>Password Recovery</span>
                            </a>
                          </div>
                          <div class="mt-1" style="float:right;">
                            <a class="login-items mb-1" type="button"  [routerLink]="['/tpinrecovery',{key:'tpin'}]">
                              <span>T-PIN Create/Recovery</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-12 mt-3 text-center" style="font-size: 14px; line-height: 1.0; padding: 0;">

                          <a class="login-items mb-1" type="button" routerLink="/instruction">
                            <span>How to Sign Up ?</span>
                          </a>

                          <!-- <span style="margin-bottom: 10px;">Important Notice</span>
                          <ul style="padding-left: 10px;">
                            <li>Please do not save User ID or Password on browser</li>
                            <li>Please use the latest version of your browser</li>
                          </ul> -->
                        </div>
                      </form>
                    </mat-tab>
                    <mat-tab label="Self Registration">
                      <div style="height:100%; background-color: white; opacity: 1;">
                        <app-self-registration></app-self-registration>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 mt-3">
            <div class="row text-left">
              <div class="col-md-6" style="padding:0px;">
                <div class="alert alert-success" role="alert" style="width: 98%;">
                  <span>
                    <mat-icon inline="true" class="icon">done</mat-icon>
                    ALWAYS ensure the website starts with https://
                  </span><br>
                  <span>
                    <mat-icon inline="true" class="icon">done</mat-icon>
                    ALWAYS properly log out after completing online activities
                  </span><br>
                  <span>
                    <mat-icon inline="true" class="icon">done</mat-icon>
                    ALWAYS make sure computer has up-to-date antivirus.
                  </span>
                </div>
              </div>
              <div class="col-md-6" style="padding:0px;">
                <div class="alert alert-danger" role="alert">
                  <span>
                    <mat-icon inline="true" class="icon">clear</mat-icon>
                    NEVER disclose your Login ID, Password & OTP
                  </span><br>
                  <span>
                    <mat-icon inline="true" class="icon">clear</mat-icon>
                    NEVER save your Login ID and passwords anywhere
                  </span><br>
                  <span>
                    <mat-icon inline="true" class="icon">clear</mat-icon>
                    NEVER access account from a public computer or unprotected device.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12">
            <div class="row text-left">
              <div class="col-md-12" style="padding:0px;">
                <div class="alert alert-success pb-1 mb-0" role="alert" style="width: 100%;">
                  <marquee direction="left"  behavior=scroll scrollamount="3" style="
                  color: #3C398F;">
                    <span class="bold">Contact Number: </span> {{ localnum.join(',')}} ;&nbsp;
                    <!-- <span class="bold">International Number: </span> {{internationalnum.join(',')}};&nbsp; -->
                    <span class="bold"> Mail Address: </span> {{ mailAddress.join(',')}};&nbsp;
                    <span class="bold"> Office Address: </span> {{ officeAddress.join(',')}}
                  </marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup component -->
  <app-popup *ngIf="popup" (close)="onCloseModal($event)" [popupError]="popupError" [header]="header" [message]="message"
    [btnText]="btnText"></app-popup>

  <!-- mobile Popup component -->
  <app-mobile-popup [appIconUrl]="appIconUrl" [appDownloadUrl]="appDownloadUrl"></app-mobile-popup>
